/* 共通スタイルは外に書く */
.l-wrapper {
  background-color: black;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 796px) { /* pc用スタイル */


}

@media screen and (max-width: 795px) { /* sp用スタイル */


}