.p-post {
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  color: white;
}
/* 投稿一覧 */
.p-post__list {
  margin-right: 40px;
  padding: 30px;
  width: 650px;
  border: 0.5px solid rgba(255, 255, 255, 0.354);
}
.p-post__list:not(:last-child) {
  margin-bottom: 20px;
}
.p-post__listUser {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.p-post__listUser__image {
  margin-right: 8px;
}
.p-post__listImage {
  margin-bottom: 20px;
}

.p-post__listLike {
  display: flex;
}

.p-post__comment {
  display: none;
  padding: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.354);
} 

.p-post__commentList {
  margin-bottom: 10px;
}
.p-post__commentList h3 {
  margin-bottom: 20px;
}
.p-post__commentList p {
  margin-bottom: 10px;
}
.p-post__comment input {
  margin-bottom: 10px;
}
