.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

.wrapper {
    width: 1920px;
    height: 1080px;
    background-color: rgba(18, 18, 18, 1);
}

.sidebar{
    float: left;
    width: 295px;
    height: 1080px;
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.reach-logo{
    width: 182px;
    height: 56px;
    margin-top: 31px;
    margin-left: 31px;
}

.sidebar_menu{
    width: 233px;
    height: 130px;
    margin-top: 79px;
    margin-left: 31px;
}

body > div > div.sidebar > ul > li:nth-child(1),
body > div > div.sidebar > ul > li:nth-child(2){
    width: 233px;
    height: 64px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
}

.sidebar_profile{
    width: 275px;
    height: 64px;
    margin-top: 694px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.sidebar_profileImage{
    width: 40px;
    height: 40px;
}

.sidebar_profileUserText{
    width: 233px;
    height: 64px;
    padding-left: 10px;
    font-size: 30px;
    color: #ffffff;
}

.main{
    color: #ffffff;
}

.profile{
/*    display: none;*/
    float: left;
    width: 1156px;
    height: 226px;
    margin-top: 117px;
    margin-left: 70px;
}

.profile_image{
    width: 150px;
    height: 150px;
    margin-left: 117px;
    margin-top: 38px;
    float: left;
}

.profilebox{
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
}

.post_formUser_id{
    width: 158px;
    height: 64px;
    margin-top: 38px;
    margin-left: 56px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#profileEdit-btn{
    width: 126px;
    height: 42px;
    margin-top: 44px;
    margin-left: 56px;
    background-color: rgba(89, 161, 249, 1);
    border: 1px solid rgba(18, 18, 18, 1);
    border-radius: 12px;
    font-size: 25px;
}

.profile_edit{
    display: none; 
    float: left;
    width: 1156px;
    height: 226px;
    margin-top: 117px;
    margin-left: 70px;
}

#uploadButton{
    width: 150px;
    height: 150px;
    margin-left: 117px;
    margin-top: 38px;
    float: left;
}

#user-id-textbox{
    width: 338px;
    height: 70px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 38px;
    margin-left: 54px;
}

#profileEdit-cancelBtn{
    width: 126px;
    height: 42px;
    margin-top: 44px;
    margin-left: 56px;
    background-color:gray;
    border: 1px solid rgba(18, 18, 18, 1);
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}

#profileEdit-adaptBtn{
    width: 126px;
    height: 42px;
    margin-top: 44px;
    margin-left: 19px;
    background-color: rgba(89, 161, 249, 1);
    border: 1px solid rgba(18, 18, 18, 1);
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}




